<div *ngIf="!isSession" class="footer bg-secondary  text-light d-flex position-relative bottom-0 w-100 text-center">
  <a class="text-decoration-none" href="#"><i class="fa-solid fa-house"></i></a>
  <h5 class="m-0 text-md-start">Group Work</h5>
  <div class="mx-auto me-2">
    <fa-icon class="mx-1 iconT" [icon]="['fab', 'linkedin']"  size="2x"></fa-icon>
    <fa-icon class="mx-1 iconT" [icon]="['fab', 'github']" size="2x"></fa-icon>
    <fa-icon class="mx-1 iconT" [icon]="['fab', 'instagram']" size="2x"></fa-icon>
  </div>
</div>
