<div class="container w-100 px-4 py-5" id="featured-3" @init>
  <h2 class="pb-2 border-bottom">Crea tus tareas!</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="d-inline-flex px-2 justify-content-center text-bg-primary bg-gradient fs-3 mb-3 rounded">
        <fa-icon [icon]="['fas', 'list-check']"></fa-icon>
      </div>
      <h3 class="fs-2 text-body-emphasis">Crear</h3>
      <p>Permite a los usuarios registrar y organizar sus tareas de manera efectiva, estableciendo un punto de partida claro para el seguimiento y la gestión de las mismas.</p>
      <a [routerLink]="['gestionar']" class="icon-link">
        Nueva tarea
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </a>
    </div>
    <div class="feature col">
      <div class="d-inline-flex px-2 justify-content-center text-bg-primary bg-gradient fs-3 mb-3 rounded">
        <fa-icon [icon]="['fas', 'bars-progress']"></fa-icon>
      </div>
      <h3 class="fs-2 text-body-emphasis">Guardado</h3>
      <p>Almacena de forma segura la información de las tareas, para poder acceder a ellos posteriormente y mantener un registro histórico las actualizaciones realizadas.</p>
      <a [routerLink]="['gestionar']" class="icon-link">
        Historico de tareas
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </a>
    </div>
  </div>
</div>

<div class="b-divider"></div>

<div class="container w-100 px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Gestiona tus tareas!</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="d-inline-flex px-2 justify-content-center text-bg-primary bg-gradient fs-3 mb-3 rounded">
        <fa-icon [icon]="['fas', 'list-check']"></fa-icon>
      </div>
      <h3 class="fs-2 text-body-emphasis">Seguimiento</h3>
      <p>Monitorea y supervisa de cerca el progreso de las tareas, manteniendo un registro de los avances realizados.</p>
      <a [routerLink]="['gestionar']" class="icon-link">
        Gestionar tarea
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </a>
    </div>
    <div class="feature col">
      <div class="d-inline-flex px-2 justify-content-center text-bg-primary bg-gradient fs-3 mb-3 rounded">
        <fa-icon [icon]="['fas', 'bars-progress']"></fa-icon>
      </div>
      <h3 class="fs-2 text-body-emphasis">Visualización</h3>
      <p>Representa gráficamente de manera clara y comprensible la información sobre el estado y el progreso de las tareas, brindando una visión general intuitiva.</p>
      <a [routerLink]="['gestionar']" class="icon-link">
        Visualizar tareas
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </a>
    </div>
    <div class="feature col">
      <div class="d-inline-flex px-2 justify-content-center text-bg-primary bg-gradient fs-3 mb-3 rounded">
        <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
      </div>
      <h3 class="fs-2 text-body-emphasis">Comparte</h3>
      <p>Comparte las tareas asignadas con otros colaboradores, facilitando la colaboración y el seguimiento conjunto del progreso.</p>
      <a [routerLink]="['gestionar']" class="icon-link">
        Compartir Tareas
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </a>
    </div>
  </div>
</div>

<div class="b-divider"></div>
