<div *ngIf="isSession" class="position-fixed h-100 top-0 z-index-10 border-end">
  <div class="d-flex flex-column h-100 flex-shrink-0 py-3 text-bg-dark">
    <a href="/" class="d-flex text-white px-2 pt-1 text-decoration-none overflow-hidden">
      <fa-icon class="mx-auto" [icon]="['fas','house-laptop']" size="lg"></fa-icon>
    </a>
    <hr>
    <ul class="nav nav-pills nav-flush flex-column mb-auto overflow-hidden" id="pills-tab" role="tablist">
      <li ngbTooltip="Home" placement="right">
        <a [routerLink]="['/home/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="d-flex justify-content-start text-white px-2 nav-link py-3 border-bottom rounded-0" data-bs-placement="right" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="false">
          <fa-icon class="mx-auto" [icon]="['fas', 'house']" size="1x"></fa-icon>
        </a>
      </li>
      <li ngbTooltip="Gestionar" placement="right">
        <a [routerLink]="['/home/', 'gestionar']" routerLinkActive="active" class="d-flex justify-content-start text-white px-2 nav-link py-3 border-bottom rounded-0" id="pills-gestionar-tab" data-bs-toggle="pill" role="tab" aria-controls="v-pills-gestionar" aria-selected="false">
          <fa-icon class="mx-auto" [icon]="['fas', 'calendar-days']" size="1x"></fa-icon>
        </a>
      </li>
      <li ngbTooltip="Visualizar" placement="right">
        <a [routerLink]="['/home/', 'dashboard']" routerLinkActive="active" class="d-flex justify-content-start text-white px-2 nav-link py-3 border-bottom rounded-0" id="pills-chart-tab" data-bs-toggle="pill" role="tab" aria-controls="v-pills-chart" aria-selected="false">
          <fa-icon class="mx-auto" [icon]="['fas', 'chart-pie']" size="1x"></fa-icon>
        </a>
      </li>
      <li ngbTooltip="Chat" placement="right">
        <a [routerLink]="['/home/', 'chats']" routerLinkActive="active" class="d-flex justify-content-start text-white px-2 nav-link py-3 border-bottom rounded-0" id="pills-chat-tab" data-bs-toggle="pill" role="tab" aria-controls="v-pills-chat" aria-selected="false">
          <fa-icon class="mx-auto" [icon]="['fas', 'comments']" size="1x"></fa-icon>
        </a>
      </li>
      <li ngbTooltip="User" placement="right">
        <a [routerLink]="['/home/', 'users']" routerLinkActive="active" class="d-flex justify-content-start text-white px-2 nav-link py-3 border-bottom rounded-0" id="pills-user-tab" data-bs-toggle="pill" role="tab" aria-controls="v-pills-user" aria-selected="false">
          <fa-icon class="mx-auto" [icon]="['fas', 'circle-user']" size="1x"></fa-icon>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropup-center">
      <a href="#" class="d-flex align-items-center justify-content-center text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="imgProfile" alt="" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
      </ul>
    </div>
  </div>

</div>
