<fa-icon [icon]="['fas', 'coffee']" size="xs"></fa-icon>

<fa-icon [icon]="['fas', 'coffee']" size="lg"></fa-icon>

<fa-icon [icon]="['fas', 'coffee']" size="6x"></fa-icon>
<br><br><br><br>
<fa-icon [icon]="['fas', 'sync']" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon>

<fa-icon [icon]="['fas', 'magic']" transform="rotate-{{magicLevel}}"></fa-icon>
<input type='range' [value]="magicLevel" (input)="input($event)" />
<br>

<fa-stack>
  <fa-icon [icon]="['fas', 'square']" class="text-danger" stackItemSize="2x"></fa-icon>
  <fa-icon [icon]="['fas', 'xmark']" [inverse]="true" stackItemSize="1x"></fa-icon>
</fa-stack>

<fa-layers [fixedWidth]="true">
  <fa-icon [icon]="['fas', 'square']"></fa-icon>
  <fa-icon [inverse]="true" [icon]="['fas', 'spinner']" transform="shrink-6"></fa-icon>
</fa-layers>

<fa-layers [fixedWidth]="true" size="6x">
  <fa-icon [icon]="['fas', 'square']"></fa-icon>
  <fa-layers-text [content]="'J'" style="color: white;" transform="shrink-4"></fa-layers-text>
</fa-layers>

<fa-layers [fixedWidth]="true" size="6x">
  <fa-icon [icon]="['fas', 'bell']"></fa-icon>
  <fa-layers-counter content="{{notification}}" pull="right"></fa-layers-counter>
</fa-layers>
<br>
<button class="btn btn-outline-primary" (click)="onClick()">ok</button>

<br>
<br>
<br>

<button (click)="createIcon()">Create</button><br><ng-container #host></ng-container>

